@font-face { font-family: LemonMilk; src: url('../Fonts/LemonMilk.otf'); }

.deezer-widget-player {
    margin-top: 40px;
}

iframe {
    box-shadow: 3px 3px 20px #333;
}

#loading {
    width: 250px;
    height: auto;

}

#loadingtext {
    font-size: 4vw;
}

@media only screen and (max-width: 600px) {
    #loadingtext {
        font-size: 40px;
    }
}

#backgroundImg {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    
    display: block;
    background-image: url('https://e-cdns-images.dzcdn.net/images/cover/6f6a4d4ae7aab0cf0446c1b77835cef5/1000x1000-000000-80-0-0.jpg');
    width: 100%;
    height: 100%;
    transform: scale(1.5);
    
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h2 {
    font-family: LemonMilk;
    color: rgb(252,227,127);
    font-size: 2vw;
}

#infoText {
    background-color:rgba(51, 51, 51, 0.8);
    padding: 1px;
    width: 350px;
    margin: 0 auto;
    margin-bottom: 5px;
    box-shadow: 3px 3px 20px #333;
}

#infoText h2 {
    display: inline-block;
    margin-right: 20px;
    font-size: 12px;
}

img {
    width:50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    padding: 15px 20px 15px 20px;
    margin-left: 10px;
    font-size: 16px;
    font-family: LemonMilk;
    font-weight: bold;
    color: black;
    border-color: rgb(252, 210, 127);
    background-color:rgb(252, 227,127);
    box-shadow: 3px 3px 20px #333;
}

button:hover {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

#jukeButtons {
    padding: 15px 20px 15px 20px;
    font-size: 16px;
    font-family: LemonMilk;
    font-weight: bold;
    color: black;
    border-color: rgb(252, 210, 127);
    background-color:rgb(252, 227,127);
    display: inline-block;
    box-shadow: 3px 3px 20px #333;
}

#jukeButtons:hover {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

#buttonDiv {
    position: relative;
    top: 20px;
    width: 150px;
}

@media only screen and (max-width: 680px) {
    #playerscale {
        zoom: 0.9;
        -moz-transform: scale(0.9);
}
}

@media only screen and (max-width: 680px) {
    .jukeboxbuttons {
        padding: 15px 10px 15px 10px;
}
}
