@font-face { font-family: LemonMilk; src: url('../Fonts/LemonMilk.otf'); }

.Jukebox {
    margin-top: 15px;
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h2 {
    font-family: LemonMilk;
    color: rgb(252,227,127);
    font-size: 22px;
}

img {
    width:50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    padding: 15px 20px 15px 20px;
    margin-left: 10px;
    font-size: 16px;
    font-family: LemonMilk;
    font-weight: bold;
    color: black;
    border-color: rgb(252, 210, 127);
    background-color:rgb(252, 227,127);
}