@font-face { font-family: LemonMilk; src: url('../Fonts/LemonMilk.otf'); } 

html, body {
    margin: 0;
    height: 100%;
}

body {
    background: rgb(34, 52, 102);
    background-image: -webkit-linear-gradient(rgb(0, 2, 71), rgb(34, 52, 102));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#aboutlogo {
    width: 30vw;
    height: auto
}

#abouttext {
    color: rgb(252, 227, 127);
    font-size: 17px;
    font-family: LemonMilk;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65vw;;
}

#marker
{
    width: 20px;
    height: auto
}