@font-face { font-family: LemonMilk; src: url('../Fonts/LemonMilk.otf'); } 

html, body {
    margin: 0;
    height: 100%;
}

body {
    background: rgb(34, 52, 102);
    background-image: -webkit-linear-gradient(rgb(0, 2, 71), rgb(34, 52, 102));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#mainlogo {
    width: 30vw;
    height: auto
}

p {
    color: rgb(252, 227, 127);
    font-size: 15px;
    font-family: LemonMilk;
}

@media only screen and (max-width: 600px) {
    #mainlogo {
        width: 80vw;
        height: auto
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65vw;;
}

#marker
{
    width: 20px;
    height: auto
}

 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(252, 227, 127); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.3s;
    font-family: LemonMilk;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f0ad4e;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 35px;
    margin-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
}


#navBtn {

    font-size: 30px;
    color: rgb(252, 227, 127);
    position: absolute;
    left: 1vw;
    top: 2vh;
}