@font-face { font-family: LemonMilk; src: url('../Fonts/LemonMilk.otf'); } 

body {
    background: linear-gradient(rgb(0, 2, 71), rgb(34, 52, 102));
    height: 100vh;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65vw;;
}

#marker
{
    width: 1.5vw;
}

input[type=text] {
    width: 40%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.welcomebutton {
    padding: 15px 20px 15px 20px;
    margin-left: 10px;
    font-size: 16px;
    font-family: LemonMilk;
    font-weight: bold;
    color: black;
    border-color: rgb(252, 210, 127);
    background-color:rgb(252, 227,127);
}

.userbutton {
    padding: 15px 20px 15px 20px;
    margin-left: 10px;
    font-size: 16px;
    font-family: LemonMilk;
    font-weight: bold;
    color: black;
    border-color: rgb(252, 210, 127);
    background-color:rgb(252, 227,127);
    position:absolute;
    left: 0%;
    top: 5%;
}