@font-face { font-family: LemonMilk; src: url('../Fonts/LemonMilk.otf'); } 

html, body {
    margin: 0;
    height: 100%;
}

body {
    background: rgb(34, 52, 102);
    background-image: -webkit-linear-gradient(rgb(0, 2, 71), rgb(34, 52, 102));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65vw;;
}

#marker
{
    width: 20px;
    height: auto
}

input[id=locationField] {
    width: 90%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.welcomebutton {
    padding: 15px 20px 15px 20px;
    font-size: 16px;
    font-family: LemonMilk;
    font-weight: bold;
    color: black;
    border-color: rgb(252, 210, 127);
    background-color:rgb(252, 227,127);
}

#locationBtn2 {
    padding: 15px 20px 15px 20px;
    font-size: 16px;
    font-family: LemonMilk;
    font-weight: bold;
    color: black;
    border-color: rgb(252, 210, 127);
    background-color:rgb(252, 227,127);
    position: absolute;
    left: 1vw;
    top: 6vh;
}

.btn {
    vertical-align: bottom;
}

button:hover {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

 #buttonCol {
     padding: 5px;
 }

 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


#navBtn {

    font-size: 30px;
    color: #f0ad4e;
    position: absolute;
    left: 1vw;
    top: 2vh;
}