@font-face { font-family: LemonMilk; src: url('../Fonts/LemonMilk.otf'); } 

html, body {
    margin: 0;
    height: 100%;
}

body {
    background: rgb(34, 52, 102);
    background-image: -webkit-linear-gradient(rgb(0, 2, 71), rgb(34, 52, 102));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#mainlogo {
    width: 60vw;
    height: auto
}

@media only screen and (max-width: 600px) {
    #mainlogo {
        width: 80vw;
        height: auto
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65vw;;
}

#marker
{
    width: 20px;
    height: auto
}

input[id=locationField] {
    width: 90%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.welcomebutton {
    padding: 15px 20px 15px 20px;
    font-size: 16px;
    font-family: LemonMilk;
    font-weight: bold;
    color: black;
    border-color: rgb(252, 210, 127);
    background-color:rgb(252, 227,127);
}

#locationBtn2 {
    padding: 15px 20px 15px 20px;
    font-size: 16px;
    font-family: LemonMilk;
    font-weight: bold;
    color: black;
    border-color: rgb(252, 210, 127);
    background-color:rgb(252, 227,127);
    position: absolute;
    left: 1vw;
    top: 6vh;
}

.btn {
    vertical-align: bottom;
}

button:hover {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

 #buttonCol {
     padding: 5px;
 }
 